body {
	font-family:'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 10;
	line-height: 1.4;
	width: 100%;
	color: black;
}

.center {
    position:absolute;
    top:50%;
    left:50%;
    -ms-transform:      translate(-50%,-50%); /* IE 9 */
    -webkit-transform:  translate(-50%,-50%); /* Safari */
    transform:          translate(-50%,-50%);
}

#name{
	font-family:'Raleway', sans-serif;
	font-size: 72px;
	font-weight: 100;
	width: 100%;
	color: black;
	text-align: center;
}

#title-links{
	font-size: 24px;
	text-align:center;
	line-height: 1.8;
}

#about{
	display:none;
}

a{
	color:black;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

i {
	margin:8px;
}

/* Fade-In Effect */
.visible
{
   visibility: visible;
   opacity: 1;
   transition: opacity 0.2s linear;
}                
/* Fade-Out Effect */
.hidden
{
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s 0.2s, opacity 0.2s linear;
}    